nav > ul > li{
    display: inline;
    margin-right: 15px;
    
}

nav li > a{
    text-decoration: none;
}

footer{
    margin-top: 30px;
    text-align: center;
}

figcaption{
    text-align: center;
    
}
label{
    display: block;
    margin-bottom: 10px;
    padding: 2px;
}
.valo{
    background-color: chartreuse;
    width: 1200px;
    height: 600px;
    padding: 10px;
    margin: 15px;
}

td,th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    padding: 5px 10px;
}
.toi{
    background-color: lightseagreen;
    height: 400px;
    width: 800px;
}
.oi{
    text-align: 80%;
}

nav > ol {
    display: flex;
    background-color: rgb(234, 239, 239);
}
nav{
    list-style: none;
    margin-right:  10px;
    padding: 5px;
}

nav ul a{
    color: rgb(15, 4, 161);  
}
nav li a{
    background-color: tomato;
}

.ai{
    list-style: none;
    margin-right:  10px;
    padding: 5px;
}